@model WebApplication9.Models.Mobile
@{
    ViewBag.Title = "InsertData";
}

<h2>InsertData</h2>

@Html.BeginForm("InserData", "Home", FormMethod.Post){ 


<input type="submit" name="name" value="Add" />
}
