
@{
    ViewBag.Title = "AboutUs";
    var contact = ViewBag.PageTitle;
}

<h2></h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Location</th>
            <th scope="col">Address</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@contact.ContactId</th>
            <td>@contact.Location</td>
            <td>@contact.Address</td>
            <td>@Html.ActionLink("Show 01", "AboutUs", new { id = 1 }, null)
            <a href="#">Show</a></td>
        </tr>
    </tbody>
</table>
