@model IEnumerable<WebApplication3.PRODUCT>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">

    <tr>
        <td>PRODUCT NAME</td>
        <td> QUANTITY</td>
    </tr>
    
</table>

@using (Html.BeginForm("Save", "Test", FormMethod.Post))
{
foreach (var item in Model)
{


    <tr>
        <input type="hidden" name="id" value="@item.ID" class="form-control" />
        <td><input type="text" name="prodctName" value="@item.PRO_NAME" class="form-control" /></td>
        <td> @item.PRO_QT</td>
        <td><input type="submit" name="Save" value="Save" class="btn btn-danger" />
       </td>
    </tr>
}
   
}
